.DS_Store
rockchip-tools/Linux/boot-linux.img
rockchip-tools/Linux/rootfs.img
rockchip-tools/log
rockpro-files/initrd.img
rockchip-tools/update.img
rockchip-tools/update_tmp.img
rockpro-files/linux-radxa-stable-3.0

rockpro-files/linaro*

config_copied
sys
rockpro-files/linux-rockchip
rootfs-*.img

gcc-linaro-*
arm-eabi-4.6
*~*
.ros_tool.sh.kate-swp
last_config_backup

rockchip-tools/rockchip-mkbootimg

kernel-files